@charset "UTF-8";
@font-face
{
  font-family: "IM Fell English";
  src: url(./IM_Fell_English_Regular.ttf);
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face
{
  font-family: "IM Fell English";
  src: url(./IM_Fell_English_Bold.ttf);
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
}
@font-face
{
  font-family: "IM Fell English";
  src: url(./IM_Fell_English_Italic.ttf);
  font-stretch: normal;
  font-style: italic;
  font-weight: normal;
}
@font-face
{
  font-family: "IM Fell English";
  src: url(./IM_Fell_English_Bold_Italic.ttf);
  font-stretch: normal;
  font-style: italic;
  font-weight: bold;
}
body
{
  max-width: 768px;
  margin: 0 auto;
  padding: 1em 1em 2em;
  overflow-y: scroll;
  background-color: #ffffff;
  color: #000000;
}
*
{
  font: normal normal normal 32px/normal "IM Fell English";
}
.tabla
{
  overflow-x: auto;
}
table
{
  margin: auto;
  border-collapse: collapse;
}
table, th, td
{
  border: 0.1em solid;
}
th, td, caption
{
  text-align: center;
  vertical-align: middle;
}
