@charset "UTF-8";
body
{
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em 1em 4em;
  overflow-y: scroll;
  background-color: #ffffff;
  color: #000000;
  font-family: "Times New Roman", "Times", serif;
  font-size: 16px;
  line-height: 2;
}
*
{
  box-sizing: border-box;
}
a
{
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-position: auto;
}
a:link
{
  color: #007fff;
}
a:visited
{
  color: #7f00ff;
}
a:hover
{
  color: #ff7f00;
}
a:active
{
  color: #ff0000;
}
.tabla
{
  padding-bottom: 1em;
  overflow-x: auto;
}
table
{
  width: 100%;
  border-collapse: collapse;
}
table, th, td
{
  border: 0.1em solid;
}
th, td, caption
{
  padding: 0.5em;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}
caption
{
  margin: 0 0 0.5em;
}
